@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); 

body {
    font-family: 'Poppins';
}

.bg-custom{
    background-color: aliceblue;
}

.btn-success {
    background-color: #649e2d;
    border-color: #649e2d;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ba2a7e;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}