<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Sentiment - Result</title>
    {% endif %}

    <link rel="shortcut icon"
        href="https://listimg.pinclipart.com/picdir/s/93-931657_93-nautical-star-tattoo-green-clipart.png"
        type="image/x-icon">
    <link rel="icon" href="https://listimg.pinclipart.com/picdir/s/93-931657_93-nautical-star-tattoo-green-clipart.png"
        type="image/x-icon">
</head>

<body style="background-color: aliceblue">
    <div style="position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);">
        Status Sentimen: <h2>{{ percent }}% {{ stmt_res }}</h2>

        <br><br>
        <p><a href="{{ url_for('stmt_view') }}">
                << Analyze Again</a>
        </p>
    </div>
</body>

</html>